/*Styling for the landing page of the quiz*/
/* font-family: 'Rubik Mono One', sans-serif; */

#firstPageBody{
    background-colour:green;
    /* background-image:url(/images/open-spiral-notebook-1405082_1920.png);
    background-position: center;
    background-size: contain; */
}
#heading1{
    font-family: 'Rubik Mono One', sans-serif;
    text-transform:uppercase;
    text-align:center;
}