/*Styling for the landing page of the quiz*/
/* font-family: 'Rubik Mono One', sans-serif; */

/*IMPORTS*/
@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
/*IMPORTS*/
*{
    box-sizing:border-box;
}
/*Stylying for background of body */
.page-body{
    background-image:url(../images/open-spiral-notebook-1405082_1920.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat:no-repeat;
}
/*Stylying for background of body */

/*Main Heading Styling Start */
.main-heading{
    margin-top:25%;
    margin-bottom:25%;
}
.main-heading>div>div>div>h1{
    color:rgb(20, 20, 36);
    font-family: 'Finger Paint', cursive;
    font-weight: bolder;
    text-transform:uppercase;
    
}
.quiz-heading0q
.intro-container{
    margin: 1rem 2rem 1rem;
}

#introPara{
    margin-top:1.5rem;
    font-size:1.5rem;
    font-weight: bold;
    color:black;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

#introPara2{
    padding:5% 25% 5%;
    font-size:1.5rem;
}

.launch-button{
    font-size:1rem;
    font-weight:bold;
    color:silver;
    background-color: #141424!important;


}
/*Main Heading Styling End*/

/* .intro-container{
    margin: 1rem 2rem 1rem;
} */


#heading1{
    font-family: 'Caveat Brush', cursive;
    color:blue;
    text-align:center;
    text-transform: uppercase;
    margin:6rem  2rem 1rem;

}



/*Styling for the Quiz Page*/
.quiz-heading-1{
    color:rgb(174, 174, 219);
    font-family: 'Finger Paint', cursive;
    font-weight: bolder;
    text-transform:uppercase;
    
}
.quiz-body{
    background-image:url(../images/quiz-background.jpg);
    background-size: contain;
    background-repeat:repeat;
}
.question-style{
    padding-left:10px;
    font-family: 'Finger Paint', cursive;
    font-size:1.5rem;
    text-align: left;
    font-weight:bold;
    background-color:#6f5a51;
    color:seashell;
    padding-top:20px;
    padding-bottom:20px;
}

input {
    margin-left: 10px;
    display: inline-block;
  } 
.question-option-style{
    margin: 10px auto 15px;
    font-family: 'Finger Paint', cursive;
    font-size:1rem;
    font-weight: bolder;
    color:#ffe3c0;
}
.checkmark {
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
  }
  

/*End of styling for the quiz page*/


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .intro-container{
        margin: 1rem 2rem 1rem;
    }
    #introPara{
    }
    #introPara2{
        margin:1rem 5rem 1rem;
    }

    button{
        text-align:center;
        margin: 1rem 15rem 1rem
    }
}  */

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */

/* @media only screen and (min-width: 768px) {
    #heading1{
        font-size:;
    }

    .intro-container{
        margin: 1rem 2rem 1rem;
    
    }
    #introPara{

    }
    #introPara2{
        color:black;
        text-align: center;
        margin:1rem 5rem 1rem;
    }
    button{
        text-align:center;
        margin: 1rem 15rem 1rem
    }
}  */

/* Large devices (laptops/desktops, 992px and up) */

/* @media only screen and (min-width: 992px) {

    #heading1{
        font-size:3.5rem;
    }

    .intro-container{
        margin: 5rem 2rem 1rem;
    }
    #introPara{
        font-size:2rem;
    }
    #introPara2{
        color:black;
        text-align: center;
        margin:1rem 5rem 1rem;
    }
    button{
        text-align:center;
        margin: 1rem 15rem 1rem
    }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */